<div class="conteiner__big-card">

<div class="big-card__photo">
    <img 
    src="https://i.stack.imgur.com/luaq2.png" 
    alt="Placeholder"
    height="200px">
</div>
<div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
</div>
<div class="big-card__description">

    <p>
        <a href="#">
        Versão ^12.0.0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eum sit, nulla ullam nam quos, numquam iste mollitia dolore unde atque, dolores ab? Eaque totam placeat est debitis exercitationem porro?
        </a>
    </p>
</div>
</div>