<div class="conteiner__small-card">
    <div class="conteiner__small-card-content">
        <div class="small-card__photo">
            <img 
            src="https://images.bauerhosting.com/legacy/empire-images/articles/56f40701264e015902d56faf/wonder-woman-crop.jpg?ar=16%3A9&fit=crop&crop=top&auto=format&w=1440&q=80" 
            alt="Placeholder">
        </div>
        <div class="small-card__title">
            <h1><a href="#">Saiu a nova versão do Angular</a></h1>
        </div>
    </div>
    
    <div class="conteiner__small-card-separator">
        <hr />
    </div>
    
</div>


